<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step03_class4.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>클래스 테스트</h1>
    <div id="app">
        <h2>{{greet}}</h2>
        <button class="btn btn-primary">버튼1</button>
        <br>
        <button v-bind:class="{'btn':true, 'btn-primary':true}">버튼2</button>
        <br>
        <button v-bind:class="['btn', 'btn-primary']">버튼3</button>
        <br>
        <button v-bind:class="classObject">버튼4</button>
        <br>
        <button v-bind:class="classArray">버튼5</button>
        <br>
        <button v-bind:class="{'btn':isBtn, 'btn-primary':isPrimary}">버튼6</button>
        <label>
            btn <input type="checkbox" v-model="isBtn">
        </label>
        <label>
            btn-primary <input type="checkbox" v-model="isPrimary">
        </label>
        <br>
        <button v-bind:class="arr">버튼7</button>
        <input type="text" v-model="inputClass"/>
        <button v-on:click="add2">추가</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app=new Vue({
            el:"#app",
            data:{
                greet:"좋은 아침 입니다.",
                classObject:{'btn':true, 'btn-primary':true},
                classArray:['btn', 'btn-primary'],
                isBtn:true,
                isPrimary:true,
                arr:[],
                inputClass:""
            },
            methods:{
                add:function(){
                    // arr 배열에 입력한 클래스명을 추가하기 
                    this.arr.push(this.inputClass);
                },
                add2(){
                    this.arr.push(this.inputClass);
                }
            }
        });
    </script>
</body>
</html>